.hint {
    position: relative;
    display: inline-block;
    text-transform: none;
    &:hover {
        .hint-body {
            display: block;
        }
    }
   .hint-body {
        display: none;
        position: absolute;
        width: 150px;
        left: -63px;
        background: #4b555f;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        &:after {
            content: "";
            position: absolute;
            top: -8px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 7px 8px 7px;
            border-color: transparent transparent #4b555f transparent;
        }
   }
}